body {
	background-color: #000;
}

#main {

	background-color: #fff;
	margin-top: 110px;
	padding-left: 110px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

#Ryu {
	float: left;
	width: 659px;
	height: 494px;
}

.ryuStill,
.ryuReady,
.ryuThrowing,
.ryuCool {
	width: 659px;
	height: 494px;
}

.ryuReady,
.ryuThrowing,
.ryuCool,
#theme
 {
	display: none;
}

.ryuReady {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryuStill {
	background-image: url('../images/ryu-standing-still.png');
	display: block;
}

.ryuThrowing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryuCool {
	background-image: url('../images/ryu-cool.gif');
}



.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	z-index:10;
	top: 168px;
	left:529px;
	float: left;
}

.houdouken,
.ryuStill,
.ryuReady,
.ryuThrowing,
.ryuCool {
	background-repeat: none;
}

#streetFighter,
#introText01,
#introText02,
#instructions {
	position: absolute;
	float: left;
	display: none;
}


#streetFighter {
	height: 314px;
	width: 684px;
	top:50px;
	left:480px;
}

#introText01 {
	height: 494px;
	width:400px;
	border: red 1px;
	top:50px;
	left:650px;
}

#introText02 {
	height: 494px;
	width:400px;
	border: red 1px;
	top:217px;
	left:650px;
}

#instructions {
	height: 100%;
	width: 400px;
	top:50px;
	left:650px;
	display: none;
}


#introText01, 
#introText02 {
	font-family: 'Bangers' Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 2.5em;
	line-height: 1.2;
	letter-spacing: .01em;
}

#instructions h1 {
	font-family: 'Bangers', Arial, Helvetica, sans-serif;
	font-weight: 400;
}

#instructions p {
	font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
	font-weight: 400;
}

#buttons {
	float: left;
	position: absolute;
	top: 400px;
	left: 650px;
}

#buttons p {
	float: left;
	padding: 10px 13px;
	border-radius: 10px;
	font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: white;
}

#buttons p.playTheme {
	background-color: #F6921E;
	margin-left: 20px;
}

#buttons p.playTheme:hover {
	background-color: #b74a29;
	cursor: pointer;
}

#buttons p.pauseTheme {
	background-color: red;
	margin-left: 20px;
}


#buttons p.pauseTheme:hover {
	background-color: #841f33;
	cursor: pointer;
}



